<h1>Page#home</h1>
<p>Find me in app/views/page/home.html.erb</p>
<% if user_signed_in? %>
Logged In As <%= current_user.email %>
<%= link_to "Sign out",destroy_user_session_path , method: :delete%>
<% else %>
<li> <%= link_to "Sign Up",new_user_registration_path %> </li>
<li> <%= link_to "Sign In",new_user_session_path %></li>
<% end %>




