<h1>Page#home</h1>
<p>Find me in app/views/page/home.html.erb</p>
<% if user_signed_in? %>
Logged In As <%= current_user.email %>
<%= link_to "Sign out",destroy_user_session_path , method: :delete%>
<% else %>
<li> <%= link_to "Sign Up",new_user_registration_path %> </li>
<li> <%= link_to "Sign In",new_user_session_path %></li>
<% end %>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '660212334117262',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
